
.flip-clock {
  text-align: center;
  perspective: 400px;
  margin: 20px auto;
  
  *,
  *:before,
  *:after { box-sizing: border-box; }
}

.flip-clock__piece {
  display: inline-block;
  margin: 0 clamp(5px, 3vw, 32px); // Dror
//   max-width: 150px;
//   max-height: 148px;
}

.flip-clock__slot {
  font-size: 2vw;
}
span{
  display: block;
  // color: pink;
  padding-top: 2rem;
  text-transform: uppercase;
}
$halfHeight: 0.72em;
$borderRadius: 0.15em;

.card {
  display: block;
  position: relative; 
  padding-bottom: $halfHeight;
  font-size: 9vw;
  line-height: 0.95;
}

.card::after{
  content:'';
  position: absolute;
  inset:0;
  bottom: -10px;
  background-color: #1A1A24;
  border-radius: $borderRadius;
  z-index:-5;
}

.card__top,
.card__bottom,
.card__back::before,
.card__back::after {
  display: block;
  height: $halfHeight;
  color: var(--Soft-red);
  background: #2C2C44; // Dror
  padding: 0.25em 0.25em;
  border-radius: $borderRadius $borderRadius 0 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  width: 1.8em;
  transform: translateZ(0);
}

.card__bottom { 
  color: var(--Soft-red);
  position: absolute;
  top: 50%;
  left: 0;
//   border-top: solid 1px rgba(0, 0, 0, 0.05);
  background: #34364F; // Dror 
  border-radius: 0 0 $borderRadius $borderRadius; 
  pointer-events: none;
  overflow: hidden;
}

.card__bottom::after {
  display: block;
  margin-top: -$halfHeight;
}

.card__back::before,
.card__bottom::after {
    content: attr(data-value);     
}

.card__back {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  pointer-events: none;
}

.card__back::before {
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.flip .card__back::before {
  animation: flipTop 0.3s cubic-bezier(.37,.01,.94,.35);
  animation-fill-mode: both;
  transform-origin: center bottom;
}

.flip .card__back .card__bottom {
  transform-origin: center top;
  animation-fill-mode: both;
  animation: flipBottom 0.6s cubic-bezier(.15,.45,.28,1);// 0.3s; 
}

@keyframes flipTop {
  0% {
    transform: rotateX(0deg);
    z-index: 2;
  }
  0%, 99% {
    opacity: 0.99;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

@keyframes flipBottom {
  0%, 50% {
    z-index: -1;
    transform: rotateX(90deg);
    opacity: 0;
  }
  51% {
    opacity: 0.99;
  }
  100% {
    opacity: 0.99;
    transform: rotateX(0deg);
    z-index: 5;
  }
}

