@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
:root {
  /* Primary Colors */
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  /* Neutral Colors */
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated: blue: hsl(236, 21%, 26%);
  --Dark-blue: hsl(235, 16%, 14%);
  --Very-dark-blue: hsl(234, 17%, 12%);
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  background-color: var(--Dark-blue);
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 140px;
  margin-inline: 1rem;
}
.wrapper main {
  outline: 2px solid rgb(141, 141, 141);
  min-height: 587px;
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}
.wrapper main .title {
  font-size: 24px;
  letter-spacing: 0.26em;
  margin-right: -0.26em;
  color: #FEFEFF;
  text-align: center;
}
.wrapper main .countdown {
  padding-top: 110px;
}
.wrapper main .countdown .box-group {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  max-height: 150px;
}
.wrapper main .countdown .box-group .box {
  width: 100%;
}
.wrapper main .countdown .text-group {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.wrapper main .countdown .text-group h2.text {
  padding-top: 20px;
  flex-basis: 100%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.43em;
  margin-right: -0.43em;
  color: #8F8BA2;
}
.wrapper main .social-icons {
  margin-top: auto;
  display: flex;
  gap: 32px;
}
.wrapper footer {
  padding-top: 71px;
}
.wrapper footer .attribution {
  font-size: 11px;
  text-align: center;
}
.wrapper footer .attribution a {
  color: hsl(228, 45%, 44%);
}

.wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./images/bg_desktop.png");
  background-size: cover;
  background-position: bottom right;
  z-index: -1;
}