@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
:root{
    /* Primary Colors */
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);

    /* Neutral Colors */
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated: blue: hsl(236, 21%, 26%);
    --Dark-blue: hsl(235, 16%, 14%);
    --Very-dark-blue: hsl(234, 17%, 12%);
}

body{
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Dark-blue);
}

.wrapper{
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 140px;
    padding-bottom: 71px;

    main{
        outline: 2px solid rgb(141, 141, 141);
        height: 100%;
        max-height:587px;
        width: 100%;
        max-width: 688px;
   
        display: flex;
        flex-direction: column;
        align-items: center;

        text-transform: uppercase;

        .title{
            font-size: 24px;
            letter-spacing: 0.26em;
            margin-right: -0.26em;
            color: #FEFEFF;   
        }
        .countdown{
            padding-top: 110px;
     
            .box-group{
                // background-color: red;
                display: flex;
                justify-content: space-between;
                gap: 32px;
                max-height: 150px;

                .box{
                    width: 100%;
                    
                }
            }
            
        }
        .social-icons{
            margin-top: auto;
            display: flex;
            gap: 32px;
        }


    }


    footer{   
        position: absolute;
        bottom: 0;
        .attribution { 
            font-size: 11px; 
            text-align: center; 
        }
        .attribution a { 
            color: hsl(228, 45%, 44%); 
        } 
    }

}

.bg{
    width: 100dvw;
    max-width: 1440px;
    height: 100dvh;
    max-height: 800px;
    aspect-ratio: 9 / 5;

    background-image: url('./images/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;

    border-radius: 10px;
    box-shadow: 0 0 20px var(--Very-dark-blue);
}
