@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
:root{
    /* Primary Colors */
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);

    /* Neutral Colors */
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated: blue: hsl(236, 21%, 26%);
    --Dark-blue: hsl(235, 16%, 14%);
    --Very-dark-blue: hsl(234, 17%, 12%);
}

body{
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    background-color: var(--Dark-blue);

    overflow-x: hidden;
}

.wrapper{
    margin: 0 auto;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-top: 140px;
    margin-inline: 1rem;

    main{
        outline: 2px solid rgb(141, 141, 141);

        // height: 100%;
        min-height: 587px;
        width: 100%;
        max-width: 720px;
   
        display: flex;
        flex-direction: column;
        align-items: center;

        text-transform: uppercase;

        .title{
            font-size: 24px;
            letter-spacing: 0.26em;
            margin-right: -0.26em;
            color: #FEFEFF; 
            text-align: center;  
        }


        .countdown{
            padding-top: 110px;
     
            .box-group{
                // background-color: red;
                display: flex;
                justify-content: space-between;
                gap: 32px;
                max-height: 150px;
                .box{
                    width: 100%;
                    
                }
            }
            .text-group{
                display: flex;
                justify-content: space-between;
                gap: 32px;
                
                h2.text{
                    padding-top: 20px;
                    flex-basis: 100%;
                    text-align: center;
                    font-size: 14px;
                    letter-spacing: 0.43em;
                    margin-right: -0.43em;
                    color: #8F8BA2;
                }
            }
            
        }



        .social-icons{
            margin-top: auto;
            display: flex;
            gap: 32px;
        }
    }


    footer{   
        padding-top: 71px;
        .attribution { 
            font-size: 11px; 
            text-align: center; 
        }
        .attribution a { 
            color: hsl(228, 45%, 44%); 
        } 
    }

}

.bg-hills{
    width: 100%;
    // max-width: 1440px; 
    height: 197px;
    position: absolute;
    top: 100%;
    
    background-image: url('./images/pattern-hills.svg');
    background-position: bottom right;
    z-index: -1;
}
.bg-stars{
    width: 100%;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./images/bg-stars.svg');
    
    z-index: -2;
}

