@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
:root {
  /* Primary Colors */
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  /* Neutral Colors */
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated: blue: hsl(236, 21%, 26%);
  --Dark-blue: hsl(235, 16%, 14%);
  --Very-dark-blue: hsl(234, 17%, 12%);
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  overflow-x: hidden;
}

.wrapper {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper main {
  outline: 1px solid rgba(141, 141, 141, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}
.wrapper main .title {
  font-size: 24px;
  letter-spacing: 0.26em;
  margin-right: -0.26em;
  color: #FEFEFF;
  text-align: center;
}
.wrapper main .countdown .box-group {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  max-height: 150px;
}
.wrapper main .countdown .box-group .box {
  width: 100%;
}
.wrapper main .countdown .text-group {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.wrapper main .countdown .text-group h2.text {
  padding-top: 20px;
  flex-basis: 100%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.43em;
  margin-right: -0.43em;
  color: #8F8BA2;
}
.wrapper footer {
  color: #8F8BA2;
}
.wrapper footer .attribution {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}
.wrapper footer .attribution a {
  color: white;
}
.wrapper footer .social-icons {
  display: flex;
  gap: 32px;
}

.grad-bg {
  height: 100dvh;
  background-image: linear-gradient(180deg, #1E1E28 0%, #241E2C 73.56%, #251D2C 73.56%);
}

.bg-stars {
  width: 1440px;
  height: 569px;
  background-image: url("./images/bg-stars.svg");
}

.bg-hills {
  width: 1440px;
  height: 197px;
  background-image: url("./images/pattern-hills.svg");
}