@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
:root{
    /* Primary Colors */
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);

    /* Neutral Colors */
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated: blue: hsl(236, 21%, 26%);
    --Dark-blue: hsl(235, 16%, 14%);
    --Very-dark-blue: hsl(234, 17%, 12%);
}

body{
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: #1E1E28;
    overflow-x: hidden;

    min-height: 100dvh;
    display: grid;
    place-items: center;  
}

.wrapper{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-top: 140px;
    max-width: 1440px;

    border-radius: 20px;
    overflow: clip;
    box-shadow: 0px 10px 10px #1E1E28;

    main{
        outline: 1px solid rgb(141 141 141 / .12 );
        display: flex;
        flex-direction: column;
        align-items: center;

        text-transform: uppercase;

        .title{
            font-size: 24px;
            letter-spacing: 0.26em;
            margin-right: -0.26em;
            color: #FEFEFF; 
            text-align: center;  
        }


        .countdown{
            // padding-top: 110px;
     
            .box-group{
                // background-color: red;
                display: flex;
                justify-content: space-between;
                gap: 32px;
                max-height: 150px;
                .box{
                    width: 100%;
                    
                }
            }
            .text-group{
                display: flex;
                justify-content: space-between;
                gap: 32px;
                
                h2.text{
                    padding-top: 20px;
                    flex-basis: 100%;
                    text-align: center;
                    font-size: 14px;
                    letter-spacing: 0.43em;
                    margin-right: -0.43em;
                    color: #8F8BA2;
                }
            }
            
        }


    }
    
    
    footer{   
        color: #8F8BA2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 71px;
       
        .attribution { 
            font-size: 10px; 
            text-align: center; 
            text-transform: uppercase;
            font-weight:lighter;  
        }
        .attribution a { 
            color: white;
        } 

        .social-icons{
            // margin-top: auto;
            display: flex;
            gap: 32px;
        }
    }
}



.bg-grad{
    // height: 100dvh;
    background-image: linear-gradient(180deg, #1E1E28 0%, #241E2C 73.56%, #251D2C 73.56%);
}

.bg-stars{
    width: 1440px;
    height: 569px;
    background-image: url('./images/bg-stars.svg');
}

.bg-hills{
    width: 1440px;
    height: 197px;
    background-image: url('./images/pattern-hills.svg');
}