@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
body {
  background-color: #2F2439;
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  color: rgb(182, 182, 182);
  text-transform: uppercase;
}

h1 {
  font-family: "Red Hat Text";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */
  letter-spacing: 0.26em;
  margin-right: -0.26em;
  padding-bottom: 110px;
}

h2:first-of-type {
  font-weight: 700;
  font-size: 80px;
  line-height: 106px;
  letter-spacing: -0.03em;
  margin-right: 0.03em;
  color: #F75F85;
}

span {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.43em;
  margin-right: -0.43em;
  color: #8F8BA2;
}

section.launching-soon {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
section.launching-soon .countdown {
  display: flex;
  gap: 32px;
}
section.launching-soon .countdown > * {
  width: 100%;
  max-width: 148px;
}