@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
:root {
  /* Primary Colors */
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  /* Neutral Colors */
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated: blue: hsl(236, 21%, 26%);
  --Dark-blue: hsl(235, 16%, 14%);
  --Very-dark-blue: hsl(234, 17%, 12%);
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  background-color: #1E1E28;
  overflow-x: hidden;
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

.flip-clock {
  text-align: center;
  perspective: 400px;
  margin: 20px auto;
}
.flip-clock *,
.flip-clock *:before,
.flip-clock *:after {
  box-sizing: border-box;
}

.flip-clock__piece {
  display: inline-block;
  margin: 0 clamp(5px, 3vw, 32px);
}

.flip-clock__slot {
  font-size: 2vw;
}

span {
  display: block;
  padding-top: 2rem;
  text-transform: uppercase;
}

.card {
  display: block;
  position: relative;
  padding-bottom: 0.72em;
  font-size: 9vw;
  line-height: 0.95;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  bottom: -10px;
  background-color: #1A1A24;
  border-radius: 0.15em;
  z-index: -5;
}

.card__top,
.card__bottom,
.card__back::before,
.card__back::after {
  display: block;
  height: 0.72em;
  color: var(--Soft-red);
  background: #2C2C44;
  padding: 0.25em 0.25em;
  border-radius: 0.15em 0.15em 0 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  width: 1.8em;
  transform: translateZ(0);
}

.card__bottom {
  color: var(--Soft-red);
  position: absolute;
  top: 50%;
  left: 0;
  background: #34364F;
  border-radius: 0 0 0.15em 0.15em;
  pointer-events: none;
  overflow: hidden;
}

.card__bottom::after {
  display: block;
  margin-top: -0.72em;
}

.card__back::before,
.card__bottom::after {
  content: attr(data-value);
}

.card__back {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  pointer-events: none;
}

.card__back::before {
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.flip .card__back::before {
  animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
  animation-fill-mode: both;
  transform-origin: center bottom;
}

.flip .card__back .card__bottom {
  transform-origin: center top;
  animation-fill-mode: both;
  animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1);
}

@keyframes flipTop {
  0% {
    transform: rotateX(0deg);
    z-index: 2;
  }
  0%, 99% {
    opacity: 0.99;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}
@keyframes flipBottom {
  0%, 50% {
    z-index: -1;
    transform: rotateX(90deg);
    opacity: 0;
  }
  51% {
    opacity: 0.99;
  }
  100% {
    opacity: 0.99;
    transform: rotateX(0deg);
    z-index: 5;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  border-radius: 0px;
}
@media (min-width: 1440px) {
  .wrapper {
    border-radius: 20px;
    overflow: clip;
  }
}
.wrapper main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 110px;
  text-transform: uppercase;
}
.wrapper main .title {
  font-size: 24px;
  letter-spacing: 0.26em;
  margin-right: -0.26em;
  color: #FEFEFF;
  text-align: center;
}
.wrapper footer {
  color: #8F8BA2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 6rem;
}
.wrapper footer .attribution {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
  padding-bottom: 0.5rem;
}
.wrapper footer .attribution a {
  color: white;
  display: inline-block;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.wrapper footer .attribution a:hover, .wrapper footer .attribution a :focus {
  color: var(--Soft-red);
}
.wrapper footer .social-icons {
  display: flex;
  gap: 32px;
}
.wrapper footer .social-icons .social-link {
  display: block;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.wrapper footer .social-icons .social-link :hover {
  fill: var(--Soft-red);
}

.bg-grad {
  background-image: linear-gradient(180deg, #1E1E28 0%, #241E2C 73.56%);
}

.bg-stars {
  width: min(100%, 1440px);
  height: 569px;
  background-image: url("./images/bg-stars.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

.bg-hills {
  width: min(100%, 1440px);
  height: 197px;
  background-image: url("./images/pattern-hills.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #2F2439 #1E1E28;
}*/
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #1a1823;
}

*::-webkit-scrollbar-track:hover {
  background-color: #1E1E28;
}

*::-webkit-scrollbar-track:active {
  background-color: #1E1E28;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #2F2439;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #2F2439;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #2F2439;
}